# https://ai.google.dev/tutorials/setup (https://aistudio.google.com/app/apikey)
GOOGLE_API_KEY=""
# at some point ill make a video on how to get this, it is the ixl_sess9300 cookie sent to all api endpoints
IXL_SESS=""
